@let col = column();

<section class="column" cdkDrag [cdkDragDisabled]="!canManage()" cdkDragLockAxis="x">
  <header class="column-header" [class.draggable]="canManage()" cdkDragHandle>
    <span [class]="'category-dot ' + col.category.toLowerCase()" aria-hidden="true"></span>
    <h2 class="column-name">{{ col.name }}</h2>
    @if (col.tasks.length) {
      <span class="count">{{ col.tasks.length }}</span>
    }

    @if (canManage()) {
      <button
        mat-icon-button
        class="menu-button"
        [matMenuTriggerFor]="menu"
        [attr.aria-label]="'Column ' + col.name + ' options'"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="edit.emit(col)">
          <mat-icon>edit</mat-icon>
          <span>Edit column</span>
        </button>
        <button mat-menu-item (click)="remove.emit(col)">
          <mat-icon>delete</mat-icon>
          <span>Delete column</span>
        </button>
      </mat-menu>
    }
  </header>

  <div
    class="column-body"
    cdkDropList
    [id]="dropId()"
    [cdkDropListData]="col"
    [cdkDropListConnectedTo]="connectedTo()"
    [cdkDropListDisabled]="!canEditTasks()"
    (cdkDropListDropped)="taskDropped.emit($event)"
  >
    @for (task of col.tasks; track task.id) {
      <app-task-card
        cdkDrag
        [cdkDragData]="task"
        [task]="task"
        [projectKey]="projectKey()"
        (click)="openTask.emit(task)"
      />
    } @empty {
      <p class="placeholder muted">Nothing here yet</p>
    }
  </div>

  @if (canEditTasks()) {
    <button class="add-task" type="button" (click)="addTask.emit(col)">
      <mat-icon>add</mat-icon>
      Add task
    </button>
  }
</section>
